.sign-up-form{
    width: 360px;
    height: 420px;
    background-color: #fff;
    border-radius: 14px;
    margin-top: 70px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.form-container {
    margin-bottom: 20px;
}