.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title i {
     color: #A06FEF;
     font-size: 50px;
}  
.title span {
    margin-top: 10px;
    display: inline-block;
    width:100%;
    font-size: 20px;
    font-weight: bold;
}  